{% load static %}
{% block body %}
<html>
<head>
{% include 'header.html' %}

</head>
<body>
{% include 'navigation.html' %}
<style>
a {
  color:  #EE1D29;
}
a:hover {
  color: yellow;
}

.contactlink:hover {
  color: blue;
}
</style>
<div class="container text-center" style = "margin-top:50px" id="contact">
       <h1 class="text-center font-weight-bold" style="font-family : Monotype Corsiva;color : #EE1D29">Contact Us</h1>
	 <br><br><br>
      <div class="row mt-5">
          <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="fas fa-phone-square"></i> Contact</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="tel:+353 899XXXXX">+353 899XXXXX</a></p>
          </div>
          <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="fas fa-envelope"></i>Mail Response</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink" href="mailto:X22137912@STUDENT.NCIRL.IE">X22137912@STUDENT.NCIRL.IE"</a></p>
          </div>
		  <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="fas fa-address-card"></i> Office Address</h4>
              <p class = "mt-3 text-danger font-weight-bold"><a class = "contactlink">Dublin</a></p>
          </div>
		  <div class="col-lg-3 col-sm-6 mydivstyle">
		  <h4><i class="far fa-clock"> </i>Parking  Hours</h4>
              <p class = "mt-3 text-danger font-weight-bold">24 Hours Open</p>
          </div>
      </div>
  </div>
  </body>
  </html>
{% endblock %}